<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  color: #000000;
  width: 450px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
  background: #fff;
  padding: 20px;
  margin:8% auto 0;
  text-align: center;
  position: center;
  top: 10px;
  height: 520px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(8, 1, 1);
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.signinbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.signinbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "create account" section */
.regsiter {
  background-color: #f1f1f1;
  text-align: center;
}
</style>
</head>
<body>

<form method="post" action="/users/login">
  <div class="container">
    <h1>Login</h1>
    <hr>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter your username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter your password" name="password" required>

    <hr>
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

    <button type="submit" class="siginbtn">Sign In</button>
  </div>
  <div class="container register">
        <p>Dont have an account? <a href="/users/register">Create one</a>.</p>
  </div>
</form>

</body>
</html>