<%- include('./partials/header'); -%>

<div class="container-fluid">
  <form action="/mainPage/create>" method="POST">
      <div class="row">
        <div class="col">
          <input type="textarea" class="form-control" placeholder="Project Title" name="title">
        </div>
        <div class="col">
          <input type="textarea" class="form-control" placeholder="Description" name="description">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Create Project</button>
          </div>
      </div>
    </form>
</div>

<%- include('./partials/footer'); -%>