<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content = "ie=edge">
  <title>Kollab Page</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#works">How It Works</a></li>
              </ul>
            </nav>
        <section id="home">
          <div class="move-left" style="height: 250px; width: 405px; background: url(/images/KollabPNG.png);"></div>
        </section>
        <section id="about">
            <h1>About</h1>
            <p class="lead">Thanks for checking out Kollab. We are home to bringing people together by making working together easier. Kollab exists for anyone who has a project idea they would like to pursue and need extra hands to do so. If you have always wanted to help someone create something awesome don’t worry Kollab exists for you too, with our join projects feature. We made communication easier through a project chatroom. Stress no more about not being able to find people to help you with your creative idea and join kollab today! 
Brought to you by the creators of Kollab, Adrianna, Adam, Konrad, Tino and Chiedza
</p>
        </section>
        <section id="works">
            <h1>How It Works</h1>
            <p class="lead">Find a project and join! If you can't find one then CREATE YOUR OWN!</p>
        </section>
        <section id="contact">
            <h1>Contact</h1>
            <p class="lead">kollab.gmail.com</p>
        </section>
      </div>

      <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src = "/javascripts/main.js"></script>

</body>
</html>
